<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contact.css">
    <title>Contact</title>
</head>
<body>
    <nav id="menu">
        <ul>
          <li id="home"><a href="./"><img id="homeImg" src="./img/home.png"></a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="person-form">Register a person</a></li>
        </ul>
      </nav>
    <div class="container">
        <h1>You can see my repositories at <a href="https://github.com/AndreyBlum?tab=repositories">Github.</a></h1>
        <h1>And you can contact me at <b>andrey.blum1@gmail.com</b></h1>
    </div>  
</body>
</html>